.container {
    margin-top: 15px;
  }
  
  .kg-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
  }
  
  .kg-row .col-6 {
    font-size: 18px;
    color: #333;
  }
  
  .kg-row .col-4 {
    font-size: 14px;
    color: #777;
  }
  
  .kg-row .col-2 {
    text-align: right;
  }
  